<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Integracion Mini-Soft</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static '/fonts/fontawesome-all.min.css' %} ">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-secondary p-0 navIndex" style="background:#d63031">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-connectdevelop"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Mini-Soft</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'index' %}">
                    <i class="fas fa-home"></i><span>Inicio</span></a></li>
                    {% if user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">
                        <i class="fas fa-cash-register"></i><span>Caja</span></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'bodega' %}"><i class="fas fa-warehouse" data-toggle="dropwdown"></i><span>Bodega</span></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'strikes' %}"><i class="fas fa-baseball-ball"></i><span>Strike</span></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'logout_view' %}">
                        <i class="fas fa-cash-register"></i><span>Cerrar Caja</span></a></li>
                    {% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'login_view' %}">
                        <i class="fas fa-cash-register"></i><span>Abrir Caja</span></a></li>
                    {% endif %}
                </ul>
                <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        {% block content %}
        
        {% endblock content %}
        
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        
    </div>
    <script src="{% static '/js/jquery.min.js' %} "></script>
    <script src="{% static '/js/bootstrap.min.js' %} "></script>
    <script src="{% static '/js/chart.min.js' %} "></script>
    <script src="{% static '/js/bs-init.js' %} "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static '/js/theme.js' %} "></script>
</body></html>