{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="content col-xl-10">
      <h2>Productos en bodega</h2>

        {% if list %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Listado Productos</th>
              <th scope="col">Cod.Producto</th>
              <th scope="col">Nombre</th>
              <th scope="col">Familia</th>
              <th scope="col">Color</th>
              <th scope="col">Stock</th>
              <th scope="col">Valor</th>
              <th scope="col">Cant.Merma</th>
            </tr>
          </thead>
          <tbody>
            {% for x in list %}
            <tr>
              <th scope="row">{{x.pk}}</th>
              <td>{{x.num_cuenta}}</td>
              <td>{{x.nombre}}</td>
              <td>{{x.familia}}</td>
              <td>{{x.color}}</td>
              <td>{{x.cantidad}}</td>
              <td>{{x.precio}}</td>
              <td>{{x.merma}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

    </div>



    
{% endblock %}