 {% extends 'base.html' %}
 {% load static %}
 {% block content %}
 
<div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
<!--                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">-->
                <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: #dfe6e9;">
                    <div class="container-fluid">
                       <h2>Konnichiwa, Bienvenid@  a tu caja Miniso</h2>
                       <div class="col-sm-2"><img src="{% static '/img/miniso.png' %}" alt="" style="width: 20%; height: 20%; margin-left: 75%;"></div>
                    </div>
                </nav>


                <div class="container-fluid">
                 
                </div>
            </div>
            <footer class="sticky-footer" style="background: #dfe6e9;">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Mini-Soft 2020</span></div>
                </div>
            </footer>
        </div>

{% endblock content %}
